
@{
    ViewData["Title"] = "Organic";
}

<div class="row justify-content-center">
    <div class="col-4">
        <h2>Collection Day: Food and garden waste (green) bins are collected every week.</h2>
    </div>
    <div class="col-8 justify-content-center">
        <a asp-area="" asp-controller="Home" asp-action="SortInformation">
            <img src="~/images/greenbininfo.png" alt="info" style="width:90%;height:90%;margin:auto;display:block;">
        </a>
    </div>
</div>

