@{
    ViewData["Title"] = "Home Page";
}

<head>
</head>

<h1></h1>

<div class="row justify-content-center">
    <div class="col-5 text-left">
        <h1 class="display-4">Welcome Waste Guardians!</h1>
        <br />
        <h4>How much do you know about trash sorting? Do you want to play a game?</h4>
        <br />
        <input type="button" class="w-100 btn btn-lg btn-primary" value="Start Playing ->" onclick="location.href='@Url.Action("Game", "Home")'" />
    </div>

    <div class="col-7 text-center">
        <img src="~/images/splashpage.png" alt="info" style="width:80%;height:80%;margin:auto;display:block;">
    </div>
</div>


 