
@{
    ViewData["Title"] = "Waste Sorting Information";
}

<div class="row justify-content-center">
    <div class="col-6 text-center">
        <h1>Waste Sorting Information</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        <a asp-area="" asp-controller="Bins" asp-action="Landfill">
            <img src="~/images/redBin.png" alt="Landfill" style="width:60%;height:70%;margin:auto;display:block;">
        </a>
    </div>
    <div class="col-4 justify-content-center">
        <a asp-area="" asp-controller="Bins" asp-action="Organic">
            <img src="~/images/greenBin.png" alt="Organics" style="width:60%;height:70%;margin:auto;display:block;">
        </a>
    </div>
    <div class="col-4 justify-content-center">
        <a asp-area="" asp-controller="Bins" asp-action="Recycling">
            <img src="~/images/yellowBin.png" alt="Recycling" style="width:60%;height:70%;margin:auto;display:block;">
        </a>
    </div>
</div>

<!-- This section handles the link to the next page, uses row, col classes -->
<div class="row justify-content-center">
    <div class="col-12">
        <h2 style="background-color:powderblue;">Click on each bin to see the correct trash sorting method for the Bin.</h2>
    </div>
</div>
<<div class="row justify-content-center">
    <div class="col-8">
        <h2>How to Reduce waste!!</h2>
    </div>
    <div class="col-2">
        <input type="button" class="w-100 btn btn-lg btn-primary" value="See more" onclick="location.href='@Url.Action("Reduce", "Home")'" />
    </div>
</div>
