@{
    ViewData["Title"] = "DIY Clothes";
}

<div class="row justify-content-center">
    <h1>Reuse Clothes</h1>

    <div class="col-6">
        <h2>DIY Face Mask</h2>

        <img src="~/images/ClothesDIY.jpg" width="460" height="345" class="center">

        <ul>
            <h3>Steps:</h3>
            <li>
            Cut the cloth into mask shapes.
            </li>
            <li>
            Take streachable elastic and stitch on on both ends.
            </li>
            <li>
            Stitches the ends to make them round and soft.
            </li>

        </ul>
    </div>
</div>