@{
    ViewData["Title"] = "DIY Glass";
}

<div class="row justify-content-center">
    <h1>Reuse Glass</h1>

    <div class="col-6">
        <h2>DIY Lighting Decoration</h2>

        <img src="~/images/GlassBottleDIY.jfif" width="460" height="345" class="center">

        <ul>
            <h3>Steps:</h3>
    <li>
        Buy LED lights with battery
    </li>
    <li>
       Insert the light inside the bottel.
    </li>
        </ul>
    </div>
</div>