@{
    ViewData["Title"] = "DIY Plastic";
}

<div class="row justify-content-center">
    <h1>Reuse Clothes</h1>

    <div class="col-6">
        <h2>DIY Face Mask</h2>

        <img src="~/images/PlasticBottleDIY.jpg" width="460" height="345" class="center">

<ul>
    <h3>Steps:</h3>
    <li>
        Cuts the bottel in half keeping the bottom intact.
    </li>
    <li>
        Paint the bottels as per your choice.
    </li>
    <li>
        Make holes on the bottom so that water can come out.
    </li>
    <li>
        Make holes on the edges, tie rope to make it hang.
    </li>
    <li>
        Plant the seeds.
    </li>
</ul>
    </div>
</div>