@{
    ViewData["Title"] = "DIY Plastic";
}

<div class="row justify-content-center">
    <h1>Reuse Plastic</h1>

    <div class="col-6">
        <h2>DIY Plant Box</h2>

        <img src="~/images/PlasticBottleDIY.jpg" width="460" height="345" class="center">
    </div>
    <div class="col-4"
<ol style="list-style-type: decimal">
    <h3>Steps:</h3>
    <li>
        Cuts the bottle in half keeping the bottom intact.
    </li>
    <li>
        Paint the bottles as per your choice.
    </li>
    <li>
        Make holes on the bottom so that water can come out.
    </li>
    <li>
        Make holes on the edges, tie rope to make it hang.
    </li>
    <li>
        Plant the seeds.
    </li>
</ol>
    </div>
    </div>
</div>