
@model List<FIT5120_WasteGuardian.Models.WasteCollected>

@{
    ViewData["Title"] = "WasteInfo";
}

<h1>WasteInfo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Year
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            alert('TEST');
            var values = @Html.Raw(Json.Serialize(Model));
            console.log(values);
        });
    </script>
}